#app {
  display: flex;
  justify-content: center; /* Wyśrodkowanie zawartości poziomo */
  align-items: center; /* Wyśrodkowanie zawartości pionowo */
  height: 100vh;
  flex-direction: column;
  gap: 20px; /* Odstęp między elementami */
}

textarea {
  width: 100%;
  max-width: 600px; /* Maksymalna szerokość */
  margin-bottom: 20px;
  font-size: 16px;
}

.button-container {
  display: flex; /* Flexbox dla przycisków */
  justify-content: space-between; /* Odstępy między przyciskami */
  width: 100%;
  max-width: 600px; /* Możesz dopasować szerokość kontenera */
  gap: 10px; /* Odstęp między przyciskami */
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  cursor: pointer;
}
